@import "variable/component.css";
@import "variable/variable.css";
@import "variable/color.css";
@import "variable/checkbox_and_radio.css";
@import "variable/particular_component.css";
@import "variable/fonts.css";

*{
	padding: 0;
	margin: 0;
	font-family: 'Karla', sans-serif;
	color: var(--color-text);
}

.main{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header{
	width: 80%;
	height: 250px;
	margin: var(--margin-bottom) 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}