@import "variable/variable.css";
@import "variable/color.css";
@import "variable/fonts.css";
@import "variable/component.css";
@import "variable/keyframe.css";
@import "variable/particular_component.css";

@import "pages/home.css";
@import "pages/gallery.css";


*{
	margin: 0;
	padding: 0;
	font-family: 'Karla', sans-serif;
	color: var(--color-text);
}

body{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
}

.main{
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

.content-main{
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	flex: 1;
}

.header{
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: var(--header-bar-height);
	background: var(--color-opacity-black);
}

.header p{
	width: 100%;
	flex: 1;
	color: var(--color-text);
	text-align: center;
}

.header a{
	transition: var(--transaction);
	color: var(--color-text);
	font-size: 20px;
	height: 100%;
	width: var(--header-bar-height);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.header a:hover{
	background: var(--color-opacity-white);
}

.side-bar{
	transition: var(--transaction);
	position: relative;
	z-index: 999;
	width: var(--side-bar-width);
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

.side-bar-title{
	height: var(--header-bar-height);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	background: var(--color-opacity-black);
}

.side-bar-title p{
	text-align: center;
}

.side-bar-header{
	width: 100%;
	height: fit-content;
	padding: var(--side-bar-header-padding) 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--color-opacity-black);
}

.side-bar-header img{
	width: 50%;
	border-radius: 50%;
}

.side-bar-header h3, .side-bar-header h4{
	font-size: var(--font-size);
	margin-top: 10px;
}

.side-bar-body{
	position: relative;
	display: flex;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	flex-direction: column;
}

.side-bar-menu{
	height: 100%;
	width: 100%;
	position: relative;
}

.side-bar-menu > p{
	text-align: center;
	width: 100%;
	height: fit-content;
	padding: 10px 0;
	color: var(--color-text);
	font-size: 20px;
	background: var(--color-opacity-black);
}

.side-bar-item{
	width: 100%;
	height: var(--header-bar-height);
	display: flex;
	flex-direction: row;
	align-items: center;
	transition: var(--transaction);
	color: var(--color-text);
	font-size: var(--font-size);
	background: var(--color-opacity-black);
}

.side-bar-item > i{
	width: var(--header-bar-height);
	text-align: center;
	transition: var(--transaction);
}


.side-bar-item:hover, .side-bar-item.active{
	background: none;
	cursor: pointer;
	padding-left: 20px;
}

.side-bar-item.active > i, .side-bar-item:hover > i{
}


.page{
	transition: var(--transaction);
	position: relative;
	width: 100%;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	flex: 1;
}

#page{
	padding: 15px;
}

#menu-btn{
	display: none;
}

@media screen and (max-width: 1000px){
	.side-bar{
		font-size: unset;
	}

	#menu-btn{
		display: flex;
	}
}