@import "variable/fonts.css";
@import "variable/color.css";
@import "variable/component.css";
@import "variable/variable.css";

*{
	padding: 0;
	margin: 0;
	font-family: 'Karla', sans-serif;
	color: var(--color-text);
}

.main{
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
}

.content-main{
	display: flex;
	flex-direction: column;
	padding: 20px;
	justify-content: center;
	align-items: center;
}

.content-main img{
	width: 250px;
	margin-bottom: 10px;
}

.content-main h2{
	font-size: 16px;
	padding: 5px 30px;
	background: rgba(0,0,0,0.6);
}


