@import "variable/fonts.css";
@import "variable/variable.css";
@import "variable/color.css";
@import "variable/component.css";
@import "variable/keyframe.css";

*{
	margin: 0;
	padding: 0;
	font-family: 'Karla', sans-serif;
	color: var(--color-text);
	scroll-behavior: smooth;
}

body{
	display: none;
}

.gal img{
	margin: 15px;
}

.header{
	position: fixed;
	top: 0;
	z-index: 999;
	background: var(--color-opacity-black);
	height: var(--header-bar-height);
	width: 100%;
	transition: var(--transaction);
}

.header-name{
	width: fit-content;
	height: 100%;
	float: left;
	margin-left: 25px;
	font-size: var(--header-bar-font-size);
	line-height: var(--header-bar-height);
}

.header-menu{
	width: fit-content;
	float: right;
	height: var(--header-bar-height);
	line-height: var(--header-bar-height);
	font-size: calc(var(--header-bar-font-size) * 0.75);
	display: flex;
	flex-direction: row;
}


.header-menu a{
	display: block;
	padding: 0 var(--padding);
	margin-right: var(--margin-right);
	height: 100%;
	transition: var(--transaction);
	text-decoration: none;
}

.header-menu a:hover, .header-menu a.active{
	margin-top: 20px;
	border-radius: var(--border-radius);
	background: var(--color-primary);
	cursor: pointer;
}

.main{
	position: fixed;
	width: 100%;
	height: 100%;
}

.content-main{
	position: absolute !important;
	width: 100%;
	height: calc(100% - var(--header-bar-height));
	bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;
}

.session{
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.session h2{
	width: 100%;
	background: var(--color-opacity-black);
	font-size: var(--session-h2-font-size);
	text-align: center;
	padding: var(--session-h2-padding) 0;
}

.content-home{
	width: 80%;
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.content-about{
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.content-about div{
	width: 50%;
}


.logo{
	height: 60%;
}

h1{
	font-size: var(--logo-detail-font-size);
}

p{
	font-size: calc(var(--logo-detail-font-size) * 0.4);
	margin-bottom: var(--margin-bottom);
}

.content-director, .content-partner{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 100%;
}

.director-card, .partner-card{
	width: 250px;
	height: fit-content;
	padding: var(--padding);
	text-align: center;
	background: var(--color-opacity-black);
	margin: var(--margin);
}

.director-card img, .partner-card img{
	width: 70%;
	margin-bottom: var(--margin-bottom);
}

.content-gallery{
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
}


#menu-btn{
	display: none;
	position: fixed;
	background: none;
	right: 10px;
	padding: var(--padding);
	font-size: 35px;
	transition: var(--transaction);
	z-index: 999;
}

.alertBox{
	position: relative;
	width: 500px;
	max-width: 80%;
	height: 500px;
	max-height: 80%;
	background: rgba(0, 0, 0,0.9);
	display: flex;
	justify-content: center;
	align-items: center;
}

.alertBox h2{
	position: absolute;
	top: 0;
	text-align: center;
	width: 100%;
	padding: var(--padding);
}

.alertBox i.fa-times{
	position: absolute;
	top: 0;
	right: 0;
	padding: var(--padding);
	z-index: 999;
	cursor: pointer;
}

.alertBox i.fa-times:hover{
	background: var(--color-opacity-white);
}

.alertBox i.fa-angle-right, .alertBox i.fa-angle-left{
	position: absolute;
	height: 50%;
	width: 50px;
	color: white;
	background: rgba(0,0,0,0.3);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999;
	transition: .4s;
	cursor: pointer;
	top: 25%;
}

.alertBox i.fa-angle-right:hover, .alertBox i.fa-angle-left:hover{
	background:var(--color-opacity-white);
}

.alertBox i.fa-angle-right{
	right: 0;
}

.alertBox i.fa-angle-left{
	left: 0;
}

.alertBox-content{
	height: fit-content;
}

.alertBox-item{
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.alertBox-item img{
	width: 60% !important;
}

.alertBox-item h3, .alertBox-item p, .alertBox-item h4{
	margin-top: var(--margin-top);
}


@media screen and (max-width: 1000px){

	.main{
		padding-top: 0;
	}

	#menu-btn{
		display: block;
	}

	.content-main{
		height: 100%;
	}

	.header{
		height: 100%;
		width: 300px;
		right: -300px;
		display: flex;
		flex-direction: column;
	}

	.header-name{
		height: fit-content;
		width: 100%;
		text-align: center;
		float: none;
		margin: 0;
	}

	.header-menu{
		float: none;
		width: 100%;
		flex-direction: column;
		padding: 0;
	}

	.header-menu a{
		height: fit-content;
	}

	.content-logo{
		flex-direction: column;
	}

	.session{
		padding: 0;
		margin-bottom: 80px;
	}

	.logo{
		height: 35%;
		max-width: 100%;
		margin-bottom: 25px;
	}

	.content-about{
		flex-direction: column;
		justify-content: flex-start;
		padding-top: 20px;
	}

	.logo-detail{
		margin-right: 0;
		width: 100%;
	}

	.detail-right{
		width: 100%;
	}

	.detail-right h1{
		font-size: 35px;
	}

	.detail-right p{
		font-size: 20px;
	}

	.session h2{
		margin-top: 0;
	}
}