@import "variable/color.css";
@import "variable/component.css";
@import "variable/variable.css";

*{
	margin: 0;
	padding: 0;
	font-family: 'Karla', sans-serif;
}

.content{
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	top: 0;
}

.login {
	filter: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	height: fit-content;
	text-align: center;
	background: var(--color-opacity-black);
}

.login img{
	width: 70%;
	margin-top: 50px;
	margin-bottom: 20px;
}


@media screen and(max-width: 1000px) {
	.login{
		background: none;
	}
}