<input type="hidden" name="type" value="add">

<input id="input-img" name="imagem" type="file"><label class="btn info" for="input-img" id="imgAdmin"><img class="img" src="img/users/unknown_people.png"></label><!--Imagem de perfil-->
<div>
	<input type="text" name="registry" placeholder="Matricula" maxlength="8">
	<input type="text" name="name" placeholder="Nome Completo">
</div>
<div>
	<input type="text" name="email" placeholder="Email">
	<input type="text" name="birthday_date" placeholder="Data de aniversário">
</div>
<div>
	<input type="text" name="number_phone[]" placeholder="Numero de celular">
	<input type="text" name="number_phone[]" placeholder="Numero de celular">
</div>
<div>
	<select name="course" class="sel_cl_ed" id="sel_cl_ed"></select><!--Curso-->
	<select name="gender" class="sel_ge_ed" id="sel_ge_ed"></select><!--Genero-->
</div>
<div>
	<label>Esporte:</label>
	<div class='checkboxes-and-radios sel_sp_ed'></div><!--Esporte-->
</div>
<div>
	<input type="button" class="btn success" value="Inscrever-se" onclick="addMember()">
	<input type="button" class="btn danger" value="Cancelar" onclick="cancelMember()">
</div>