@import "color.css";
:root{
	--size-button: 20px;
}

.checkboxes-and-radios{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.checkboxes-and-radios input {
	display: none;
}

.checkboxes-and-radios label {
	cursor: pointer;
	position: relative;
	display: block;
	padding-right: calc(var(--size-button) * 2 + 10px);
	margin-right: 25px;
}

.checkboxes-and-radios input[type="checkbox"],
.checkboxes-and-radios input[type="radio"] {
	position: absolute;
	visibility: hidden !important;
}
.checkboxes-and-radios input[type="checkbox"] + label:before,
.checkboxes-and-radios input[type="radio"] + label:before,
.checkboxes-and-radios input[type="checkbox"] + label:after,
.checkboxes-and-radios input[type="radio"] + label:after {
	content: '';
	position: absolute;
	top: 50%;
	margin-top: calc(var(--size-button) / 2 * -1);
	box-sizing: border-box;
}
.checkboxes-and-radios input[type="checkbox"] + label:before,
.checkboxes-and-radios input[type="radio"] + label:before {
	width: calc(var(--size-button) * 2);
	height: var(--size-button);
	right: 0;
	background: var(--color-opacity-white);
	border: 0;
	border-radius: 50px;
}
.checkboxes-and-radios input[type="checkbox"] + label:after,
.checkboxes-and-radios input[type="radio"] + label:after {
	width: var(--size-button);
	height: var(--size-button);
	right: var(--size-button);
	background: var(--color-opacity-white);
	border-radius: 50%;
	border: 0;
	transition: all 200ms ease-out;
}
.checkboxes-and-radios input[type="checkbox"]:checked + label:after,
.checkboxes-and-radios input[type="radio"]:checked + label:after {
	right: 0;
	background: var(--color-success);
}

@media screen and (max-width: 1000px) {
	.checkboxes-and-radios{
		flex-direction: column;
		align-items: start;
	}

}