:root{
	--color-primary: #B7153E;
	--color-secondary: #2C2C2C;
	--color-text: #f7f7f7;

	--color-success: #007e33;
	--color-success-hover: #00c851;
	--color-danger: #cc0000;
	--color-danger-hover: #ff4444;
	--color-warning: #ff8800;
	--color-warning-hover: #ffbb33;
	--color-info: #0099cc;
	--color-info-hover: #33b5e5;
	--color-opacity-black: rgba(0,0,0,0.4);
	--color-opacity-white: rgba(174, 179, 171,0.4);
}