@import "color.css";
@import "checkbox_and_radio.css";
@import "variable.css";

input, textarea, select{
	transition: .3s;
	width: 90%;
	padding: 6px 4px;
	margin: 5px;
}

a{
	text-decoration: none;
}

.simplebar-scrollbar:before {
	background: var(--color-text) !important;
}

/*=====form=====*/
form{
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

form > div{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}

form > div > label{
	margin-right: var(--margin-right);
}


/*=====File======*/
input[type=file]{
	display: none;
}


/*=====Text======*/
input[type=text], input[type=password], textarea{
	background: none;
	border: 0;
	border-bottom: 1px solid var(--color-text);
	font-size: var(--font-size);
	color: var(--color-text);
}


/*=====Select======*/
select{
	width: 100%;
	background: transparent !important;
	color: var(--color-text);
	border: 0;
	border-bottom: 1px solid white;
}


select option{
	background: #2C2C2C;
}

/*=====Check======*/
input[type=checkbox]{
	width: fit-content;
}
/*=====Label======*/
label{
	padding: 6px 0;
	font-size: var(--font-size);
	color: var(--color-text);
	margin: 0;
}

/*=====bg======*/
.bg{
	position: fixed;
	width: 120%;
	height: 120%;
	z-index: -1;
	background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
	/*filter: Blur(18px);*/
}


/*=====toTop======*/
.toTop{
	position: fixed;
	right: 40px;
	font-size: 50px;
	padding: 10px 15px;
	z-index: 99999;
	bottom: -180px;
	background: var(--color-primary);
	transition: var(--transaction);
	animation-name: toTop;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	color: white !important;
}

/*=====Alert Box======*/
#alert{
	position: absolute;
	z-index: 999999;
	height: fit-content;
	width: 350px;
	max-height: 80%;
	right: 50px;
	top: 90px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	box-shadow: var(--shadow);
}

#alert li{
	font-size: 15px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	overflow-y: hidden;
	text-wrap: avoid;
	word-wrap: break-spaces;
	transition: .5s;
}

#alert p{
	color: white;
	padding: 10px 5px;
}


/*=====Loading Screen======*/
#loading-page{
	z-index: 999999;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: var(--color-opacity-black);
}

#loading-page div{
	height: fit-content;
	width: fit-content;
	text-align: center;
}

#loading-page h2{
	color: var(--color-text);
}

#loading-page img{
	animation: rotX 1.4s infinite;
	max-width: 50%;
	margin-bottom: var(--margin-bottom);
}


/*=====Progress Bar======*/
#progressBar{
	position: fixed;
	bottom: 0;
	z-index: 99999999;
	display: block;
	width: 100%;
	height: 0;
	background: var(--color-opacity-white);
	transition: .4s;
}

#progressBar p{
	color: var(--color-text);
	z-index: 999999;
	height: 30px;
	line-height: 30px;
	text-align: center;
	transition: .9s;
	background: linear-gradient(to right, var(--color-secondary),var(--color-primary));
}

/*=====Div Tab======*/
.tab-container{
	position: relative;
	width: 100%;
	height: 100%;
}
.tab-container-box{
	position: relative;
	height: 100%;
	width: 100%;
}

.tab-container-button{
	position: sticky;
	display: flex;
	flex-direction: row;
	width: 100%;
	top: 0;
	z-index: 50;
}

.tab-button{
	font-size: 16px;
	color: var(--color-text);
	width: 100%;
	padding: 7px 0;
	text-align: center;
	cursor: pointer;
	flex: 1;
}

.tab-button-effect{
	background: var(--color-opacity-black);
	position: absolute;
	transition: var(--transaction);
	border-radius: 10px 10px 0 0;
	z-index: -1;
}

.tab-box{
	width: 100%;
	height: 0;
	overflow-y: hidden;
	background: var(--color-opacity-black);
	transition: var(--transaction);
}

.tab-box > section{
	padding: 10px;
}

.img{
	width: 200px;
}

/*=====Content Info======*/
.content-info{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 99999999;
	display: none;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.7);
}

.more-info{
	position: relative;
	min-width: 420px;
	max-width: 80%;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	padding: var(--padding);
	min-height: 200px;
	max-height: calc(90% - var(--header-bar-height));
	background: rgba(0, 0, 0,0.9);
	justify-content: center;
}

.more-info form{
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.more-info form > div, .more-info > div{
	display: flex;
	flex-direction: row;
	width: 100%;
}

.more-info label{
	width: 50%;
}

.more-info > img{
	height: 200px;
	margin: auto;
}

.more-info label img{
	height: auto;
	width: 100%;
	margin: auto;
}

.more-info ul{
	display: flex;
	flex-direction: column;
	color: var(--color-text);
	width: 100%;
}

.more-info li{
	width: 100%;
	display: block;
	padding: 9px 0;
}

.more-info li div{
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.more-info > p{
	color: var(--color-text);
	padding: 10px 0;
	text-align: center;
}

/*=====List======*/
.list{
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	color: var(--color-text);
}

.list-card{
	margin: var(--margin-bottom);
	background: var(--color-opacity-black);
	padding: var(--padding);
	box-shadow: var(--shadow);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.list-card img{
	height: 200px;
	margin-bottom: var(--margin-bottom);
}

.list-card p, .list-card h4{
	text-align: center;
	margin-bottom: var(--margin-bottom);
}


/*=====Content Default======*/
.content-default{
	background: var(--color-opacity-black);
	padding: var(--padding);
	box-shadow: var(--shadow);
	border-radius: var(--border-radius);
}


/*=====Popup======*/
.popup{
	position: fixed;
	padding: 5px 20px;
	cursor: pointer;
}

.popup span{
	position: absolute;
	border-width: 5px;
	border-style: solid;
}

.popup p{
	word-break: keep-all;
	width: 100%;
	text-align: center;
	color: white;
}



/*=====Button======*/
.btn{
	padding: 6px 20px;
	text-align: center;
	font-family: 'Karla', sans-serif;
	font-size: 12px;
	transition: var(--transaction);
	cursor: pointer;
	color: white;
	width: fit-content;
	margin: 5px auto;
	border: 0;
	font-weight: bold;
	text-decoration: none;
}

.success{
	background: var(--color-success);
}

.success:hover{
	background: var(--color-success-hover);
}

.danger{
	background: var(--color-danger);
}

.danger:hover{
	background: var(--color-danger-hover);
}

.warning{
	background: var(--color-warning);
}

.warning:hover{
	background: var(--color-warning-hover);
}

.info{
	background: var(--color-info);
}

.info:hover{
	background: var(--color-info-hover);
}

@media screen and (max-width: 1000px){
	form{
		width: 80%;
	}

	table, th ,td{
		font-size: 9px;
	}

	form div{
		flex-direction: column;
		width: 100%;
	}

	.content-info{
		font-size: 12px;
	}

	.more-info{
		min-width: 80%;
	}

	.more-info div, .more-info form > div{
		flex-direction: column;
	}

	.list-card{
		height: fit-content;
	}


	#alert li{
		font-size: 12px;
	}
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--color-text);
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: var(--color-text);
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: var(--color-text);
}