@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Karla|Lobster|ZCOOL+XiaoWei');

/*
font-family: 'Indie Flower', cursive;
font-family: 'ZCOOL XiaoWei', serif;
font-family: 'Lobster', cursive;
font-family: 'Karla', sans-serif; --main
*/
