@keyframes toTop {
	0%{
		padding-bottom: 0;
	}

	50%{
		padding-bottom: 20px;
	}

	100%{
		padding-bottom: 0;
	}
}

@keyframes rotX {
	from{
		transform: rotateY(0deg);
	}

	to{
		transform: rotateY(360deg);
	}
}