input[name=name]{
	width: 400px;
}

input[name=registry]{
	width: 80px;
}

input[name="number_phone[]"]{
	width: 130px;
}

input[type=password]{
	width: 150px;
}

input[name=email]{
	width: 400px;
}

input[name=birthday_date]{
	width: 150px;
}

select{
	width: fit-content;
}

/*.simplebar-content-wrapper{
	padding-right: 0 !important;
}*/

@media screen and (max-width: 1000px) {
	input, select, textarea{
		width: 100% !important;
	}
	input[type=checkbox]{
		width: auto !important;
	}
}