:root{

	/*Defaults*/
	--shadow: 8px 8px 8px rgba(0,0,0,0.5);
	--margin: 15px;
	--margin-bottom: 15px;
	--margin-right: 15px;
	--margin-top: 15px;
	--margin-left: 15px;
	--border-radius: 15px;
	--padding: 20px;
	--transaction: .2s;
	--font-size: 14px;

	/*Header Bar*/
	--header-bar-height: 45px;
	--header-bar-font-size: 18px;

	/*Side Bar*/
	--side-bar-width: 185px;
	--side-bar-header-padding: 15px;


	/*Session*/
	--session-h2-font-size: 40px;
	--session-h2-padding: 25px;
	--session-h2-margin-top: 55px;

	/*Logo*/
	--logo-size-width: 100%;
	--logo-size-height: 400px;
	--logo-detail-font-size: 40px;
}


.margin-right{
	margin-right: var(--margin-right);
}

.margin-left{
	margin-left: var(--margin-left);
}

.margin-bottom{
	margin-bottom: var(--margin-bottom);
}

.margin-top{
	margin-top: var(--margin-top);
}

.flex-h{
	display: flex;
	flex-direction: row;
}

.flex-v{
	display: flex;
	flex-direction: column;
}

.center-h{
	justify-content: center;
}

.center-v{
	align-items: center;
}

.none{
	background: none !important;
	border: 1px var(--color-text) solid !important;
	display: flex !important;
	flex-direction: row;
}

.none > .sp-preview{
	min-width: 50px;
	width: 100%;
}

.none > .sp-dd{
	width: fit-content;
}