.content-gallery{
	width: 100%;
	height: fit-content;
	padding: var(--padding) 0;
	transition: var(--transaction);
	color: var(--color-text);
}

.add-photo{
	position: fixed;
	display: flex;
	justify-content: center;
	width: calc(100% - var(--side-bar-width));
	height: calc(100% - var(--header-bar-height));
	background: rgba(0, 0, 0,0.9);
	bottom: -2200px;
	right: 0;
	text-align: center;
	transition: var(--transaction);
}

.add-photo i{
	position: absolute;
	right: 0;
	top: 0;
	padding: 20px;
	font-size: 25px;
	color: var(--color-text);
}

.add-photo i:hover{
	background: var(--color-primary);
	cursor: pointer;
}

.form{
	padding: 10px 0;
	width: 80%;
	border: 1px solid #869791;
	position: absolute;
	margin-top: var(--margin-top);
}

#file-name{
	border: 1px solid #869791;
	width: 90%;
	height: 300px;
	margin-bottom: 20px;
	color: var(--color-text);
	overflow-y: auto;
	position: relative;
}


#file-name li, #return li{
	display: block;
	padding: 6px 0;
}


@media screen and (max-width: 1000px){
	.btn-send{
		font-size: 15px;
	}

	.add-photo{
		width: 100%;
	}

	.box-alert_content{
		position: relative;
		top: 0;
		right: 0;
		width: 80%;
	}
}