.home-content{
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
}

.home-row{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.home-card{
	position: relative;
	height: fit-content;
	margin: var(--margin);
	color: var(--color-text);
	flex: 1;
}

.home-card a{
	position: absolute;
	right: 0;
	padding: 15px;
	color: var(--color-text);

}

.home-graph{
	flex: 1;
	width: 350px;
	margin: var(--margin);
	position: relative;
	height: 100%;
}

.home-graph a{
	position: absolute;
	top: 0;
	right: 0;
}

@media screen and (max-width: 1000px){
	.home-row{
		flex-direction: column;
	}

	.home-card, .home-graph{
		width: 85%;
		margin: var(--margin) 0;
	}

	.home-card a{
		top: 5px;
		right: 0;
	}
}